boto3
botocore
configparser
customtkinter
defusedxml
docker
docopt
fpdf
lxml
matplotlib
numpy
openpyxl
pandas
pdfrw>=0.4
pikepdf
Pillow
psycopg2-binary==2.9.10
pyarrow
pyfiglet==1.0.4
pymongo
pypdf
PyPDF4
pystache
python-dateutil
python-docx
pytz
qualysapi==5.1.0
regex
requests
seaborn
tqdm
