# This file specifies intentionally untracked files that Git should ignore.
# Files already tracked by Git are not affected.
# See: https://git-scm.com/docs/gitignore

# python
__pycache__
.mypy_cache
.python-version

# terraform
.terraform
terraform.tfstate
terraform.tfstate.backup
plan

# dependencies
node_modules
backend/node_modules
docs/node_modules
frontend/node_modules
frontend/.pnp
frontend/.pnp.js

# testing
backend/coverage
docs/coverage
frontend/coverage

# production
frontend/build

# misc
.env
tmp/*
.DS_STORE
*/.DS_STORE
.idea

npm-debug.log*
yarn-debug.log*
yarn-error.log*

.serverless
.build
dist
postgres-data
es-data
matomo-data
matomo-db-data
nvd-dump
minio-data

**.pyc
infrastructure/lambdas/security_headers.zip
*.hcl
.iac-data
