boto3
django>=4.2,<5
dnspython
dnstwist
docopt
dshield
fastapi>=0.100
pandas
psycopg2-binary
pydantic>=1.10,<3
python-decouple==3.6
python-jose==3.3.0
requests
schema
shodan==1.27.0
uvicorn[standard]>=0.23
